*
{
    Margin: 0;
    Padding: 0;
  Overflow: Hidden;
}

html,body
{
    Width: 100%;
    Height: 100%;
}

body
{
    Font-Family: Arial;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,121,10,1) 35%, rgba(0,212,255,1) 100%);
}

.Container
{
    Padding-Top: 1px;
}

.Main_div_container
{
    Width: 370px;
    Height: 500px;
    Margin: Auto;
    Margin-Top: 30px;
    Padding-Top: 1px;
    Border-Radius: 10px;
    Background-Color: #000;
    Box-Shadow: 0px 25px 30px Rgba(0, 0, 0, 0.5);
}

.Main_screen_container
{
    Width: 350px;
    Height: 480px;
    Margin: Auto;
    Margin-Top: 10px;
    Border-Radius: 10px;
    Background-Image: Url(https://p4.wallpaperbetter.com/wallpaper/742/820/884/abstract-black-green-shapes-wallpaper-preview.jpg);
    Background-Size: Cover;
    Overflow: Hidden;
}

.Hading_container
{
    Background: #Fff;
    Text-Align: Center;
    Padding: 5px 0;
}

.User_input_container
{
    Width: 95%;
    Padding: 20px 5px;
    Color: #Fff;
    Font-Size: 20px;
}

.Dob_tile,.Date_tile
{
    Width: 47%;
    Display: Inline-Block;
    Vertical-Align: Top;
}

#Date,#Today_date
{
    Width: 48%;
    Height: 20px;
    Padding: 5px;
    Border: None;
    Background-Color: #Fff;
    Display: Inline-Block;
    Vertical-Align: Top;
}


.Btn
{
    Width: 120px;
    Padding: 10px;
    Margin-Top: 10px;
    Margin-Left: 32%;
    Border: None;
    Cursor: Pointer;
    Border-Radius: 5px;
    Color: #Fff;
    Background-Color: #Ff4e00;
    Border: 2px Solid #Ff4e00;
    Box-Shadow: 0px 0px 10px Rgba(0, 0, 100, 0.2), Inset 0px 0px 10px Rgba(0, 0, 100, 0.2);
    Transition: All 0.2s;
}

.Btn:hover
{
    Box-Shadow: 0px 0px 10px Rgba(0, 0, 100, 0.4), Inset 0px 0px 10px Rgba(0, 0, 100, 0.2);
}

.Btn:active
{
    Box-Shadow: 0px 0px 10px Rgba(0, 0, 100, 0.2), Inset 0px 0px 10px Rgba(0, 0, 100, 0.4);
    Transform: Scale(0.99);
}


/********************************/

.Age_main_big_container
{
    Width: 94.5%;
    Height: 160px;
    Margin-Top: 30px;
    Border: 1px Solid #Ff4e00;
    Padding: 10px 2.5%;
    Font-Weight: Bold;
}

.Left_side_div_age_list,.Right_side_div_age_list
{
    Width: 49.1%;
    Height: 100%;/*
    Background: Green;*/
    Color: #Fff;
    Border: 1px Solid #Ff4e00;
    Box-Sizing: Border-Box;
    Display: Inline-Block;
    Vertical-Align: Top;
    Background-Color: Rgba(0, 0, 0, 0.7);
}

.Left_side_div_age_list div:nth-Child(1)
{
    Font-Size: 30px;
    Padding: 10px;
}

.Left_side_div_age_list div:nth-Child(2)
{
    Margin: 0;
}

.Left_side_div_age_list div:nth-Child(3)
{
    Margin: 20px 4px;
    Opacity: 0;
    Transition: All 0.2s;
}

.Right_side_div_age_list
{
    Text-Align: Center;
}

.Right_side_div_age_list div:nth-Child(1)
{
    Color: #Ff4e00;
    Padding: 10px 0;
}

.Right_side_div_age_list #N_b
{
    Margin-Top: 26px;
    Opacity: 0;
    Transition: All 0.2s;
}

.Right_side_div_age_list img
{
    Width: 50px;
}

#Year
{
    Font-Size: 40px;
    Color: #Ff4e00;
    Margin: 10px;
    Margin-Right: 15px;
}

#Month
{

}

#Day
{

}